<!DOCTYPE html>
<html>
  <head>
    <title>{%block title%}  {{item.id}} {%endblock%}</title>
       <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
      {%block content%}
      <h1> {{item.name}}</h1>
      <p>Description:{{item.description}}</p>
    <p>       {{item.price}} 
</p>
    {%endblock%}
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      var stripe = Stripe('your-key');
      var buyButton = document.getElementById('buy-button');
      var item_num=document.URL.slice(-1);
        // Redirect to Stripe Session Checkout
          console.log(item_num)

      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint 
          fetch("/buy/1", {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
      });
    </script>
  </body>
</html>

